/* Color Palette */
:root { 
    --red: #FF3131;
    --blue: #00B2FF;
    --yellow: #FFC907;
    --green: #00D02E;
    --gray: rgb(183, 183, 183);
    --darkGray:#0F0F0F;
    --grayOpac: rgb(109, 109, 109);
}

/* Local Fonts */
@font-face {
    font-family: 'karrik';
    src: url(../Karrik-Regular.ttf);
}

@font-face {
    font-family: 'karrik';
    font-style: italic;
    src: url(../Karrik-Italic.ttf);
}


/* Display Message if browser is not wide enough */
.minWidthError {
    opacity: 0;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 200;
    top: 0;
    left: 0;
    overflow-x: hidden;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--darkGray);
    color: var(--gray);
    font-family: "karrik";
    transition: 0.4s opacity;
    pointer-events: none;
}

@media only screen and (max-width: 890px) {
    .minWidthError {
      opacity: 100%;
    }
}

@media (max-width: 450px) {
    .minWidthError p {
      width: 280px;
    }
}

/* Window */
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}

body {
    background: var(--darkGray);
    letter-spacing: 2px;
}

/* Animation */

@keyframes fadeInUp {
    0% {
        transform: translate3d(0, 10px, 0);
        opacity: 0;
    }

    100% {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

.fadeInUp {
    animation: fadeInUp 1s;
}

.title {
    font-size: 2.5vw;
    font-family: 'karrik';
    color: var(--grayOpac);
    border-top: solid;
    border-bottom: solid;
    text-align: center;
    padding: 0.5vw;
    margin-top: 2vw;
}

/* Alphabet styling */
.alphabetContainer {
    margin: 0;
    position: absolute;
    top: 20%;
    left: 15%;
}

.letterRow {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
    padding-top: 2vh;
}

.letter {
    font-size: 5vw;
    font-family: 'karrik';
    color: var(--gray);
    padding-left: 10px;
    padding-right: 20px;
}

.letter:hover {
    cursor: url("cursor.png"), default;
}


/* Change color and rotate letters on hover */
.red {
    color: var(--gray);
}

.red.activated {
    color: var(--red);
    transform: scale(1.05) rotate(-6deg);
    transition-duration: 0.3s;
}

.blue {
    color: var(--gray);
}

.blue.activated {
    color: var(--blue);
    transform: scale(1.05) rotate(6deg); 
    transition-duration: 0.3s;
}

.yellow {
    color: var(--gray);
}

.yellow.activated {
    color: var(--yellow);
    transform: scale(1.05) rotate(-6deg);
    transition-duration: 0.3s;
}

.yellow {
    color: var(--gray);
}

.green.activated {
    color: var(--green);
    transform: scale(1.05) rotate(6deg); 
    transition-duration: 0.3s;
}

/* Poem text styling */
.poemContainer {
    font-size: 1vw;
    font-family: 'karrik';
    position: absolute;
    top: 24%;
    left: 65%;
}

.poemStanzaItalic {
    font-style: italic;
    margin-top: 5%;
}

.poemStanzaRegular {
    font-style: regular;
    margin-top: 5%;
}

.poem {
    display: none;
    color: var(--gray);
}
.first-red {
    color: var(--red);
}

.first-blue {
    color: var(--blue);
}

.first-yellow {
    color: var(--yellow);
}

.first-green {
    color: var(--green);
}


